body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #4CAF50;
}

p {
    font-size: 18px;
    color: #555;
}

#svgContainer {
    margin: 20px auto;
    display: inline-block;
    width: 100%;
    max-width: auto;
}

.map-container {
    display: flex;
    gap: 20px;
}

#usaMap {
    width: 60%;
    height: 80vh;
    min-height: 500px;
    border: 1px solid #ddd;
}

#stateInfo {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    display: none;
    width: 200px;
    height: fit-content;
}